#search-gallery-one img {
	max-width: 200px;
	max-height: 200px;
    width: 200px;
    height: 200px;
	border-radius: 4px;
	margin: 10px;
    /* height: 240px; */
}

#thread-gallery-one, #thread-preview-gallery-one {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#thread-gallery-one img, #thread-preview-gallery-one img {
	width: 120px;
	height: 120px;
}