{% extends "taiga/base-header.html" %}

{% block user-info %}
    <div class="col-8"></div>
    <div class="col-0-3qtr ms-auto">
        <a href="{% url 'login' %}" id="id_login_link">
            <button class="btn btn-success btn-sm">Register</button>
        </a>
    </div>
{% endblock %}

{% block content %}
    <p id="id_page_name">Login</p>

    <form method="post" action="login">
        <table>
            {{form}}
        </table>
        {% csrf_token %}
        <button type="submit" id="id_login_button">Submit</button>
    </form>
{% endblock %}
