{% extends "taiga/base-header.html" %}


{% block user-info %}
    <div class="col-8"></div>
    <div class="col-0-3qtr ms-auto">
        <a href="{% url 'login' %}" id="id_login_link">
            <button class="btn btn-success btn-sm">Login</button>
        </a>
    </div>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 3%;">
            <h2 id="id_page_name" style="color: var(--green-1)">Register an account</h2>
        </div>
        <form method="post" action="{% url 'register' %}">
            <table>
                {% for field in form.visible_fields %}
                    <tr>
                        <td>{{field.label_tag}}</td>
                        <td>{{field}}</td>
                        <td class="errorlist">
                            {% for error in field.errors %} {{error}} {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% csrf_token %}
            <button class="btn btn-success" type="submit" id="id_register_button">Register</button>
        </form>
    </div>

    {% for error in form.non_field_errors %}
        <p class="errorlist">
            {{ error }}
        </p>
    {% endfor %}

{% endblock %}
