a {
    text-decoration: none;
    display: inline-block;
}

.previous {
    background-color: #ffffff;
    color: black;
    font-size: 35px;
}
/* 
@media (max-width: 768px) {
    .row {
      display: flex;
      flex-direction: column;
    }
    .top .bottom1 .bottom2{
        order: 1;
    }
    .mid1 {
        order: 2;
    }
    .mid2 {
        order: 3;
    }
} */

form {
	display: flex;
	align-items: center;
	border: 2px solid #0C826A;
	border-radius: 8px 8px 8px 8px;
	background-color: #EFF9F5;
}

form input {
	flex: 1;
	padding: 14px;
	font-size: 16px;
	border: none;
	border-radius: 8px 0 0 8px;
	background-color: #EFF9F5;
}

/* #search-button {
	background-image: url("images/iconSearch.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px;
	border: none;
	border-radius: 0 2px 2px 0;
	padding: 10px;
	cursor: pointer;
	background-color: #0C826A;
	height: 54px;
	width: 64px;
} */

.button-search {
    height: 54px;
    --bs-btn-color: #ffffff;
    --bs-btn-border-color: #ffffff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #10724f;
    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    --bs-btn-disabled-color: #ffffff;
}

.form-switch .form-check-input {
	background-color: #b7bbc1;
}

.form-switch .form-check-input:checked {
	background-color: #10724f;
}

.form-switch .form-check-input:focus {
	box-shadow: 0 0 1px #10724f;
}
